#root {
  margin: 0;
  padding: 0;
  text-align: center;
}
.site-wrapper {
  margin-top:70px;
}

.home-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height:100vh;
}

main {
  /* display:flex; */
  /* flex-wrap:wrap; */
}
/* .description-container {
  flex-grow:1;
} */
/* 
.overlay {
  display:flex;
} */

.container {
  display:flex;
}

.ufcLink {
  color: white;
  font-size: 24px;
}

.ufcLogo {
  background-size:cover;
max-width:100%;
opacity:0.8;
filter: blur(1px); 
}

header {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid rgb(170, 153, 153); 
}

.site-logo {
  color: white;
  font-size: 24px;
  margin-right: auto; /* Pushes the links to the right side */
}

nav {
  display: flex;
}

nav a {
  color: white;
  margin-left: 20px;
}

h2 {
color: grey;
font-family: 'Arial Black', sans-serif; /* Use Arial Black or a similar bold font */
font-weight: bold;
letter-spacing: 2px; /* Increase letter spacing for emphasis */
text-transform: uppercase;


}

.siteLogo {
  height:40px;
  margin-left:10px;
}

.enterButton {
  display: inline-block;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #d50000; /* Dark red color */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  font-family: 'Nosifer', cursive;

}
.enterButton:hover {
  background-color: #8b0000;
}

.fighterHeader {
  font-family: 'Nosifer', cursive;

}


.fighterParagraph {
  font-family: 'roboto', sans-serif; 
  font-size: 16px; 
  font-weight: normal;
  line-height: 1.5;
}

.fighterNextButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6600; 
  color: #fff; 
  font-family: 'Open Sans', sans-serif; 
  font-size: 18px; 
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.fighterNextButton:hover {
  background-color: #ff8c00; 
  transform: scale(1.05); 
}


.pfp {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: rgba(205, 154, 154, 0.87);
  border-radius: 5px;
  display: flex;
  align-items: center;
  /* flex-basis:200px; */
}

.pfp h3 {
  margin: 0;
  font-size: 18px;
  color:#333;
}

.pfp span {
  font-weight: bold;
  margin-right: 10px;
  color: #ffd700; 
  min-width: 30px; 
  text-align: center;
  font-family: monospace; 
}


h4 {
  text-align: center;
  font-size: 24px;
  margin: 20px 0;
}


.pfp:hover {
  background-color: #e5e5e5;
  transition: background-color 0.3s;
}

h3 {
  display:flex;
  margin: 0;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
