#root {
  margin: 0;
  padding: 0;
  text-align: center;
}
header {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid rgb(170, 153, 153);
}

.logoName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Sternbach Hollow", sans-serif;
}

.sitePicture {
  height: 50px;
  margin-left: 10px;
}
nav {
  display: flex;
}

nav a {
  color: white;
  margin-left: 20px;
}

.logoName > span {
  padding-left: 20px;
  font-weight: bold;
  color: white;
  font-size: 2rem;
}
.siteLink > span {
  color: white;
  font-size: 1.2em;
  margin-right: auto;
}

.ufcLink {
  color: white;
  font-size: 1.2em;
  padding-right: 0.4em;
}

.ufcLogo {
  background-size: cover;
  max-width: 100%;
  opacity: 0.8;
  filter: blur(1px);
}

/* main*/
main {
  display: flex;
  margin-top: 140px;
  margin-bottom: 63px;
  justify-content: center;
  padding-bottom: 20px;
  min-height: 70vh;
}
.homeSection {
  margin-top: 6vw;
  align-items: center;
}

h1 {
  color: grey;
  font-family: "Nosifer", sans-serif !important; /* Use Arial Black or a similar bold font */
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
  font-size: 1.7em;
}
.homeSection {
  display: flex;
  flex-direction: column;
}

.enterButton {
  display: inline-block;
  padding: 0.6em 1.2em;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #d50000; /* Dark red color */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  font-family: "Nosifer", cursive;
}
.enterButton:hover {
  background-color: #8b0000;
}

/* Pages  */
.description-container {
  text-align: left;
}

.fighterHeader {
  font-family: "Nosifer", cursive;
  padding-left: 20px;
  font-weight: bold;
  color: white;
  font-size: 1.8em;
  grid-area: header;
}

.fighterAbout {
  padding-left: 20px;
  color: #ede8ee;
  font-weight: bold;
}

.fighterParagraph {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  max-width: 500px;
  line-height: 1.5;
  text-align: left;
  padding-left: 20px;
  color: #ede8ee;
  font-weight: bold;
}

.fighterNextButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6600;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.fighterNextButton:hover {
  background-color: #ff8c00;
  transform: scale(1.05);
}

/* aside */
aside {
  width: 30vw;
  max-width: 230px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.rankingHeader {
  color: #ffd700;
}
.pfp {
  /* border: 1px solid #ccc; */
  padding: 10px;
  margin: 10px;
  background-color: #8d8d92;
  color: #ffd700;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  width: 200px;
}

.pfp span {
  margin-right: 10px;
}

.pfp:hover {
  background-color: grey;
  transition: background-color 0.3s;
}

footer {
  background-color: red;
  position: fixed; /* or position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  /* padding: 10px; */
  margin: 0;
  width: 100%;
  border-top: 2px solid rgb(170, 153, 153);
}

footer p {
  color: white;
  font-size: 18px;
  text-align: start;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

/* rankings page */

.rankings {
  font-size: 100%;
  border: 1px solid #ccc;
  width: 230px;
  height: 80px;
  padding: 10px;
  margin: 10px;
  /* background-color: rgba(205, 154, 154, 0.87); */
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Rankings page */

.rankingsHeader {
  color: #ffd700;
  font-family: "Sternbach", sans-serif;

  font-size: 50px;
  text-align: start;
  font-weight: bold;
}

.rankingsPageClasses {
  color: #ede8ee;
  font-size: 18px;
  text-align: start;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
